[Service]
WorkingDirectory=/home/brain
EnvironmentFile=/home/brain/.env
ExecStart=/home/brain/server
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=server
User=root
Group=root
[Install]
WantedBy=multi-user.target
